<h1>{{title}}</h1>
<table *ngIf="posts.length">
  <tr>
    <th *ngFor="let header of tableHeaders" (click)="sortData(header)" [class.selected]="header.selected">
      <span class="asc" [hidden]="header.direction !== 'asc'">&#8595;</span>
      <span class="desc" [hidden]="header.direction !== 'desc'">&#8593;</span>
      {{header.text}}
    </th>
  </tr>
  <tr *ngFor="let post of posts">
    <td>{{ post.user.username }}</td>
    <td>{{ post.user.city }}</td>
    <td>{{ post.title }}</td>
    <td>{{ post.comments.length }}</td>
  </tr>
</table>

